* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    overflow: hidden;
}

.navigation {
    height: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.navigation a {
    font-family: "Righteous", cursive;
    font-size: 6rem;
    color: #525050;
    letter-spacing: .2rem;
    width: 100%;
    height: 100%;
    text-align: center;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    transition: all .5s;
}

.navigation:hover a {
    color: #888;
}

.navigation a:hover {
    color: #fff;
}

.navigation a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30rem;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
    color: #777;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    letter-spacing: 50rem;
    overflow: hidden;
    transition: letter-spacing 0.5s, left 0.5s;
}

.navigation a:hover::before {
    content: attr(data-text);
    opacity: .7;
    left: 50%;
    letter-spacing: 1rem;
    width: 180rem;
    height: 180rem;
}

.navigation a:nth-child(1)::before {
    background-color: #f94144;
}

.navigation a:nth-child(2)::before {
    background-color: #f3722c;
}

.navigation a:nth-child(3)::before {
    background-color: #f8961e;
}

.navigation a:nth-child(4)::before {
    background-color: #f9c74f;
}

.navigation a:nth-child(5)::before {
    background-color: #90be6d;
}

.navigation a:nth-child(6)::before {
    background-color: #43aa8b;
}